≲?php
$hostname = "localhost:3306";
$user = "username";
$password = "password";
$db = "database_navn";

$kantine_email = "";

$mail_host = '';
$mail_user = '';
$mail_password = '';
$mail_port = 587;
$mail_from = '';
